<div class="section">
    <div class="row">
        <div class='col-md-3'></div>
        <div data-content-type='callToAction' class="{{className}} card text-center col-lg-6 border-dark m-lg-5 p-lg-3 p-3 m-1">
            <div>
                <span>
                    <p>{{this.fields.fields.text}}</p>
                </span>
            </div>
            <button type="button" class="btn btn-info">{{this.fields.fields.buttonText}}</button>
        </div>
        <div class='col-md-3'></div>
    </div>
</div>
